body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container{
    width: 1440px;
    margin: 0 auto;
   
}

.header{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 0;
    background-color: rgb(243 243 243);
}

.header li {
    width: 33.33%;
    list-style: none;
    text-align: center;
}

.big-title{
    text-align: center;
    margin:0 8px;
}

.separate{
    width: 8%;
}

.btn-a {
    width: 90px;
    height: 30px ;
    background-color: rgb(46, 82, 167);
    border-radius: 5px;
    border: none;
    color: white;
}
.btn-b{
    display: block;
    margin: 0 auto;
    font-size: 1.1em;
    background-color: rgb(46, 82, 167);
    border-radius: 5px;
    border: none;
    color: white;
    height: 50px;
    width: 80%;
}
.calendar{
    width: 100%;
    border-collapse: collapse;
    overflow-x:auto;
    
}
.calendar thead th, .calendar tbody td {
    border: 1px solid #ddd;
   
}
.calendar thead th{
    width: 12.5%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(46, 82, 167);
    color: white;
}

.heure{
     vertical-align: middle !important;
     text-align: center;
}

.calendar tbody td{
    width: 12.5%;
    height: 160px;
    vertical-align: unset;
}

.cours{
    height: 24%;
    background-color: rgb(243 243 243);
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
   
}

.select{
    background-color: red;
    color: white;
}

.form{ 
    position: absolute;
    width: 30%;
    height: 340px;
    background-color: #f4f4f4;
    border-radius: 20px;
    top: 30%;
    left: 35%

}

imput-content{
    margin: 5px auto;
    width: 80%;
}
.imput-label{
  display: block;
  width: 80%;
  height: 50px;
  margin: 30px auto;
  border-radius: 5px;
  
  border: none;
  font-size: 1.1em;
}

.input-txt{ 
  display: block;
  width: 98%;
  height: 37px;
  border-radius: 5px;
  background-color: #e5e5e5;
  border: none;
    
}

.hd{
    display: none;
    cursor: pointer;
}

.hd-red{
    display: block;
    color: red;
    margin: 0 auto;
    cursor: pointer;
    font-size: 10px;

}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 25%;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(5, 116, 244);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  